body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #B4CF66;
    font-size: 1.2em;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    border-bottom-color: #FFEC5C;
    background-color: #FF5A33;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 300px);
}

#recipe-color {
    color: #44803F;
}

#h-color {
    color: #146152;
}

#n-color {
    color: aliceblue;
}

tr:nth-child(even) {
    background-color: lightgray;
}
